:root  {
    --brown: #4d3020;
}

* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightyellow;
    color: var(--brown);
    margin: 30px;
}

a:visited {
    color: var(--brown);
}

.title {
    font-weight: lighter;
}

.image {
    width: 300px;
    height: auto;
    border: 2px solid var(--brown);
}

.box {
    background-color: antiquewhite;
    border: 2px solid var(--brown);
    padding: 12px;
    margin: 12px 0px;
}

ul li,
ol li {
   margin: 5px; 
}

ul li::marker,
ol li::marker {
    color: lightcoral;
}